@font-face {
    font-family: 'FromTheWoodsRegular';
    src: url('fonts/FromtheWoods-Regular.woff2') format('woff2'),
        url('fonts/FromtheWoods-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url("img/bg.jpg");
    color: #FFFFFF;
    margin: 0;
    height: 1500px;
}

h1 {
    font-family: 'FromTheWoodsRegular';
    font-size: 40px;
    text-align: center;

}

.sections {
    display: block;

}

.sections__section {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #4F6A13;
    text-align: center;
    margin: 0 auto;
    padding: 10px;

}

footer {
    background-color: #2D4823;
    height: 400px;
    text-align: center;
    padding: auto;
}

.section__footer {
    margin: 0;
}

.sections__section_left {
    position: relative;
    top: 50px;
    left: 100px;
}

.sections__section_right {
    position: relative;
    top: 150px;
    right: 100px;
}