@font-face {
    font-family: 'FromTheWoodsRegular';
    src: url('fonts/FromtheWoods-Regular.woff2') format('woff2'),
        url('fonts/FromtheWoods-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {

    color: #FFFFFF;
    margin: 0;
    /* height: 500px; */
    background-image: url("img/bg.jpg");
    background-color: white;
    background-position: center;

    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Open Sans', sans-serif;


}

.header__heading {
    font-family: 'FromTheWoodsRegular', sans-serif;
    font-size: 10rem;
    text-align: center;
    margin: 0 30%;

}

.header__text {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin: 2rem 25%;
}


.sections__section {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #4F6A13;
    text-align: center;
    margin: 0 60% 0 30%;
    padding: 1rem;

}

/* .sections__section_left {
    position: relative;
    top: 50px;
    left: 100px;
} */

.sections__section_right {
    position: relative;
    margin: -8rem 0;
    left: 65rem;

}

.footer {
    background-color: #2D4823;
    height: 20rem;
    text-align: center;
}

.footer__heading {
    font-weight: 700;
    text-align: center;
    margin: 1rem 25%;
    padding: 1rem 0;

}

.footer__text {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    margin: 1rem 25%;
}

.footer__a {
    color: #d3d3d3;
}